@import url('https://fonts.googleapis.com/css2?family=Viaoda+Libre&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1{
	text-align:center;
	font-family: 'Viaoda Libre', cursive;
	margin:13px;
}
.center {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
}
.red-box {
  width: 20px;
  height: 20px;
  background-color: #de4639;
  cursor: pointer;
  outline: 1px solid #e24f3e;
}
.red-box:hover, .add-class{
  background-color:#f85344;
}
.white-box {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
  outline: 1px solid #e24f3e;
}
.add-class{
  background:#de4639;
}
